{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.

{erl_opts, [
    fail_on_warning,
    warnings_as_errors,
    {i, "include"},
    {parse_transform, pt_chronica}
]}.

{deps, [
	{chronica, ".*", {git, "https://github.com/eltex-ecss/chronica.git", "master"}}
]}.

{edoc_opts, [{stylesheet_file, "./priv/edoc.css"}]}.
{lib_dirs, ["deps", "apps"]}. 
{sub_dirs, ["apps/zzan"]}.
%{pre_hooks, [{compile, "./generate_headers"}]}.


{profiles, [
    {zzan, [
        {pre_hooks, [{"",compile,"./generate_headers"}]},
        {relx, [
            {release, {"zzan", "1"}, [zzan,chronica,ranch] },
            {include_src, false},
            {dev_mode, false},
            {include_erts, false},
            {system_libs, false},
            {extended_start_script, true}
        ]}
    ]}
]}.

{shell, [
%	{vm_args, "./vm.args"},
	{config, "./sys.config"} 
]}.
