%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>
[
 {chronica,
  [
   {rules,
    [
     {all, "*", info, [default], on},
     {all_errors, "*",                                 error, [default], on}, % catch all errors
     {all_tc, "tc_*",                              debug, [default],        on},
     {default, "*&!mycelium*&!tts*",                debug, [default],        on},
     {default2, "*&!fun_trace*&!mycelium*&!tts*",	debug, [default],        on},
     {all_info, "*&!error_logger",                   info,  [info],           on},
     {notifier, "informer*|jabber*|email_notifier*", debug, [cn, screen],     on}
    ]
   },
   {flows,
    [
     {screen,        [{tty, [{format, short}, {mailbox_tty, 1000}]}]},
     {default,       [{file, [{name, "default.log"}]}]},
     {error,         [{file, [{name, "error.log"}]}]},
     {info,          [{file, [{name, "info.log"}]}]},
     {cn,            [{file, [{name, "cn.log"}]}]}
    ]
   },
   {formats,
    [
     {default, "%Y-%M-%D %H:%Mi:%S:%Ms %PRIORITY %Pid [%Module:%Line]: %Message\n"},
     {short, "%Y-%M-%D %H:%Mi:%S:%Ms %P %Pid [%Module:%Line]: %Message\n"}
    ]
   },
   %% Customize for extended backends
   {active, true},
   {colored, true},
   {sync, false},
   {rotate_at_start, false},
   {file_check_timeout, 10000},
   {internal_logger, [{file, "chronica", {101048576, 1}, error}, {tty, error}]},
   {data_root, "log/<Node>"},
   {log_root, "log/<Year>_<Month>_<Day>_<Node>"},
   {max_file_size, 104857600}, % 1Gb
   {max_file_num,  20},
   {debug, true},
   {debug_level, 2}
  ]
 }
].

